trigger:
  branches:
    include:
    - main
  paths:
    include:
    - infrastructure/bicep/paas/**
    - azure-pipelines/deploy-paas.yml

pr:
  branches:
    include:
    - main
  paths:
    include:
    - infrastructure/bicep/paas/**

pool:
  vmImage: 'ubuntu-latest'

variables:
  azureSubscription: 'jobsite-paas-connection'
  deploymentName: 'jobsite-paas'
  location: 'swedencentral'
  environment: 'dev'
  appServiceSku: 'B2'

stages:
- stage: Deploy
  displayName: 'Deploy PaaS Infrastructure'
  jobs:
  - deployment: DeployPaaS
    displayName: 'Deploy App Services & Azure SQL'
    environment: 'paas-infrastructure'
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self

          - task: AzureCLI@2
            displayName: 'Deploy PaaS Bicep Template'
            inputs:
              azureSubscription: '$(azureSubscription)'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az deployment sub create \
                  --name "$(deploymentName)-$(environment)-$(Build.BuildId)" \
                  --location $(location) \
                  --template-file "./infrastructure/bicep/paas/main.bicep" \
                  --parameters \
                    environment=$(environment) \
                    appServiceSku=$(appServiceSku)

          - task: AzureCLI@2
            displayName: 'Get Deployment Outputs'
            inputs:
              azureSubscription: '$(azureSubscription)'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az deployment sub show \
                  --name "$(deploymentName)-$(environment)-$(Build.BuildId)" \
                  --query "properties.outputs" \
                  -o json > $(Build.ArtifactStagingDirectory)/paas-outputs.json

          - task: PublishBuildArtifacts@1
            displayName: 'Publish Deployment Outputs'
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)'
              ArtifactName: 'paas-deployment-outputs'
              publishLocation: 'Container'
