trigger:
  branches:
    include:
    - main
  paths:
    include:
    - iac/bicep/iaas/**
    - azure-pipelines/deploy-iaas.yml

pr:
  branches:
    include:
    - main
  paths:
    include:
    - iac/bicep/iaas/**

pool:
  vmImage: 'ubuntu-latest'

variables:
  azureSubscription: 'jobsite-iaas-connection'
  deploymentName: 'jobsite-iaas'
  location: 'swedencentral'
  environment: 'dev'
  vmSize: 'Standard_D2ds_v6'
  sqlVmSize: 'Standard_D4ds_v6'

stages:
- stage: Deploy
  displayName: 'Deploy IaaS Infrastructure'
  jobs:
  - deployment: DeployIaaS
    displayName: 'Deploy VMs & SQL Server'
    environment: 'iaas-infrastructure'
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self

          - task: AzureCLI@2
            displayName: 'Deploy IaaS Bicep Template'
            inputs:
              azureSubscription: '$(azureSubscription)'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az deployment sub create \
                  --name "$(deploymentName)-$(environment)-$(Build.BuildId)" \
                  --location $(location) \
                  --template-file "./iac/bicep/iaas/main.bicep" \
                  --parameters \
                    environment=$(environment) \
                    vmSize=$(vmSize) \
                    sqlVmSize=$(sqlVmSize)

          - task: AzureCLI@2
            displayName: 'Get Deployment Outputs'
            inputs:
              azureSubscription: '$(azureSubscription)'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az deployment sub show \
                  --name "$(deploymentName)-$(environment)-$(Build.BuildId)" \
                  --query "properties.outputs" \
                  -o json > $(Build.ArtifactStagingDirectory)/iaas-outputs.json

          - task: PublishBuildArtifacts@1
            displayName: 'Publish Deployment Outputs'
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)'
              ArtifactName: 'iaas-deployment-outputs'
              publishLocation: 'Container'
