trigger:
  branches:
    include:
    - main
  paths:
    include:
    - infrastructure/bicep/agents/**
    - azure-pipelines/deploy-agents.yml

pr:
  branches:
    include:
    - main
  paths:
    include:
    - infrastructure/bicep/agents/**

pool:
  vmImage: 'ubuntu-latest'

variables:
  azureSubscription: 'jobsite-agents-connection'
  deploymentName: 'jobsite-agents'
  location: 'swedencentral'
  environment: 'dev'
  agentCount: '1'

stages:
- stage: Deploy
  displayName: 'Deploy Agents Infrastructure'
  jobs:
  - deployment: DeployAgents
    displayName: 'Deploy Agents'
    environment: 'agents-infrastructure'
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self

          - task: AzureCLI@2
            displayName: 'Deploy Agents Bicep Template'
            inputs:
              azureSubscription: '$(azureSubscription)'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az deployment sub create \
                  --name "$(deploymentName)-$(environment)-$(Build.BuildId)" \
                  --location $(location) \
                  --template-file "./infrastructure/bicep/agents/main.bicep" \
                  --parameters \
                    environment=$(environment) \
                    agentCount=$(agentCount)

          - task: AzureCLI@2
            displayName: 'Get Deployment Outputs'
            inputs:
              azureSubscription: '$(azureSubscription)'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az deployment sub show \
                  --name "$(deploymentName)-$(environment)-$(Build.BuildId)" \
                  --query "properties.outputs" \
                  -o json > $(Build.ArtifactStagingDirectory)/agents-outputs.json

          - task: PublishBuildArtifacts@1
            displayName: 'Publish Deployment Outputs'
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)'
              ArtifactName: 'agents-deployment-outputs'
              publishLocation: 'Container'
