trigger:
  branches:
    include:
    - main
  paths:
    include:
    - infrastructure/bicep/core/**
    - azure-pipelines/deploy-core.yml

pr:
  branches:
    include:
    - main
  paths:
    include:
    - infrastructure/bicep/core/**

pool:
  vmImage: 'ubuntu-latest'

variables:
  azureSubscription: 'jobsite-core-connection'
  deploymentName: 'jobsite-core'
  location: 'swedencentral'
  environment: 'dev'

stages:
- stage: Deploy
  displayName: 'Deploy Core Infrastructure'
  jobs:
  - deployment: DeployCore
    displayName: 'Deploy Core Resources'
    environment: 'core-infrastructure'
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self

          - task: AzureCLI@2
            displayName: 'Deploy Core Bicep Template'
            inputs:
              azureSubscription: '$(azureSubscription)'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az deployment sub create \
                  --name "$(deploymentName)-$(environment)-$(Build.BuildId)" \
                  --location $(location) \
                  --template-file "./infrastructure/bicep/core/main.bicep" \
                  --parameters \
                    environment=$(environment) \
                    location=$(location)

          - task: AzureCLI@2
            displayName: 'Get Deployment Outputs'
            inputs:
              azureSubscription: '$(azureSubscription)'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az deployment sub show \
                  --name "$(deploymentName)-$(environment)-$(Build.BuildId)" \
                  --query "properties.outputs" \
                  -o json > $(Build.ArtifactStagingDirectory)/core-outputs.json

          - task: PublishBuildArtifacts@1
            displayName: 'Publish Deployment Outputs'
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)'
              ArtifactName: 'core-deployment-outputs'
              publishLocation: 'Container'
